:root {
	--c-bg:		#fff;
	--c-dark:	#bbb;
	--c-text:	#000;
	--c-hover:	#ccc;
	--c-file:	rgba(20,120,20,0.8);
	--c-yes:	#285;
	--t-size:	13px;
	--i-size:	3px;
	--d-size:	60px;
	--pad:		10px;
	--font:		Segoe UI Light;
	--font-2:	Segoe UI;
	--trans:	0.1s;
	--click:	3px;
	--corner:	8px;
	--n-size:	50px;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: var(--c-bg);
	overflow: hidden;
}

input {
	background-color: var(--c-dark);
	font-size: var(--t-size);
	padding: var(--pad);
	width: calc( 100% - var(--pad) * 2 );
	border: none;
	border-radius: var(--corner);
    transition-duration: var(--trans);
}

input:hover {
    background-color: var(--c-hover);
}

input:focus {
	outline: none;
}

input:disabled {
	color: var(--c-yes);
}

button {
	background-color: var(--c-dark);
	font-size: var(--t-size);
	padding: var(--pad);
	border: none;
	border-radius: var(--corner);
    transition-duration: var(--trans);
}

button:hover {
    background-color: var(--c-hover);
}

button:focus {
    outline: none;
}

input[type="file"] {
	background-color: #f00;
	opacity: 0;
	position: absolute;
	height: var(--d-size);
	margin: calc( 0px - var(--pad) );
}

.input-area {
	background-color: var(--c-dark);
	font-size: var(--t-size);
	padding: var(--pad);
	border: none;
	border-radius: var(--corner);
    transition-duration: var(--trans);
	display: flex;
	height: var(--d-size);
}

.input-area:hover {
    background-color: var(--c-hover);
}

.input-box {
	background-color: rgba(0,0,0,0);
	border: var(--i-size) dotted var(--c-file);
	width: 100%;
	height: calc( 100% - var(--pad) );
	display: flex;
	text-align: center;
}

.input-text {
	text-align: center;
	font-family: var(--font-2);
	color: var(--c-file);
}

.inputted {
	color: var(--c-text);
	border: none;
}

main-content {
	width: 100%;
	top: 0px;
	left: 0px;
	height: calc( 100% - var(--n-size) );
	position: absolute;
	overflow-y: auto;
}

.nav-bar {
	background-color: var(--c-dark);
	width: 100%;
	position: absolute;
	top: calc( 100% - var(--n-size) );
	left: 0px;
	height: var(--n-size);
	display: flex;
}

.nav-button {
	background-color: rgba(0,0,0,0);
	display: flex;
	flex-grow: 1;
	border-radius: 0px;
}

.svg {
	color: var(--c-text);
	height: calc( var(--n-size) / 2 );
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}