:root {
	--c-bg:		#fff;
	--c-dark:	#bbb;					/* from --c-bg */
	--c-text:	#000;
	--c-textl:	#fff;					/* constant */
	--c-hover:	#ccc;					/* from --c-bg */
	--c-select:	#999;					/* from --c-bg */
	--c-yes:	#285;					/* from --c-sec */
	--c-link:	#069;					/* from --c-sec */
	--c-sec:	#baf;
	--c-disable:#ccc;					/* from --c-text */
	--c-status:	rgba(0,0,0,0.8);		/* constant */
	--c-statusb:#ccc;					/* constant */
	--c-statush:#aaa;					/* constant */
	--c-statust:#000;					/* constant */
	--t-size:	13px;
	--i-size:	3px;
	--d-size:	60px;
	--l-size:	8px;
	--l-rad:	40px;
	--n-size:	50px;
	--pad:		10px;
	--font:		Segoe UI Light;
	--font-2:	Segoe UI;
	--trans:	0.1s;
	--click:	3px;
	--corner:	8px;
	--spin:		.8s;
}

* {
    outline: none;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: var(--c-bg);
	overflow: hidden;
	font-family: var(--font);
	color: var(--c-text);
    transition-duration: var(--trans);
}

input {
	background-color: var(--c-dark);
	font-size: var(--t-size);
	padding: var(--pad);
	width: calc( 100% - var(--pad) * 2 );
	border: none;
	border-radius: var(--corner);
	transition-duration: var(--trans);
	color: var(--c-text);
	margin-bottom: calc( var(--pad) / 2 );
	margin-top: calc( var(--pad) / 2 );
}

input:not(:disabled):hover {
    background-color: var(--c-hover);
}

input:disabled {
	color: var(--c-yes);
}

button {
	background-color: var(--c-dark);
	font-size: var(--t-size);
	padding: var(--pad);
	color: var(--c-text);
	border: none;
	border-radius: var(--corner);
    transition-duration: var(--trans);
	margin-bottom: calc( var(--pad) / 2 );
	margin-top: calc( var(--pad) / 2 );
}

button:not(:disabled):hover {
    background-color: var(--c-hover);
}

button:disabled {
	color: var(--c-disable);
}

input[type="file"] {
	background-color: #f00;
	color: var(--c-text);
	opacity: 0;
	position: absolute;
	height: var(--d-size);
	margin: calc( 0px - var(--pad) );
}

input[type="checkbox"] {
	width: initial;
}

.input-area {
	background-color: var(--c-dark);
	font-size: var(--t-size);
	padding: var(--pad);
	border: none;
	border-radius: var(--corner);
    transition-duration: var(--trans);
	display: flex;
	width: calc( 100% - var(--pad) * 2 );
	height: var(--d-size);
}

.input-area:hover {
    background-color: var(--c-hover);
}

.input-box {
	background-color: rgba(0,0,0,0);
	border: var(--i-size) dotted var(--c-yes);
	width: 100%;
	height: calc( 100% - var(--pad) );
	display: flex;
	text-align: center;
}

.input-text {
	text-align: center;
	font-family: var(--font-2);
	color: var(--c-yes);
	margin: auto;
}

.inputted {
	color: var(--c-text);
	border: none;
}

.small-text {
	color: var(--c-disable);
	font-size: calc( var(--t-size) / 1.1 );
}

.divider {
	background-color: var(--c-disable);
	height: 1px;
	opacity: 0.5;
	width: 100%;
}

select-menu {
	background-color: var(--c-dark);
	font-size: var(--t-size);
	padding: var(--pad);
	width: calc( 100% - var(--pad) * 2 );
	display: block;
	border: none;
	border-radius: var(--corner);
	transition-duration: var(--trans);
	overflow-y: scroll;
}

.option {
	padding: var(--pad);
	font-size: var(--t-size);
	font-family: var(--font-2);
	border-radius: var(--corner);
	color: var(--c-text);
	width: 100%;
	text-align: left;
}

.option-selected {
	background-color: var(--c-sec);
}

.option-selected:not(:disabled):hover {
	background-color: var(--c-third);
}

.mini-option {
	padding: var(--pad);
	padding-top: 0px;
	padding-bottom: 0px;
	margin: calc(0px - var(--pad) / 2);
	margin-top: 0px;
	margin-left: calc( var(--pad) );
	float: right;
	font-size: var(--t-size);
	font-family: var(--font-2);
	border-radius: calc( var(--corner) / 2 );
	color: var(--c-text);
}

.mini-option:hover {
	background-color: var(--third);
}

option:disabled {
	padding: var(--pad);
	font-size: var(--t-size);
	font-family: var(--font-2);
	color: var(--c-disable);
	user-select: none;
}

select {
	background-color: var(--c-dark);
	font-size: var(--t-size);
	padding: var(--pad);
	width: calc( 100% - var(--pad) * 2 );
	border: none;
	border-radius: var(--corner);
    transition-duration: var(--trans);
}

main-content {
	width: calc( 100% - var(--pad) * 2 );
	top: 0px;
	left: 0px;
	height: calc( 100% - var(--n-size) );
	position: absolute;
	overflow-x: hidden;
	overflow-y: auto;
	margin: var(--pad);
}

.section {
	width: 100%;
}

.nav-bar {
	background-color: var(--c-dark);
	width: 100%;
	position: absolute;
	top: calc( 100% - var(--n-size) );
	left: 0px;
	height: var(--n-size);
	display: flex;
	box-shadow: 0px 0px calc( var(--pad) * 2 ) var(--c-bg);
	z-index: 10;
}

.nav-button {
	background-color: rgba(0,0,0,0);
	display: flex;
	flex-grow: 1;
	border-radius: 0px;
	margin: 0px;
}

.nav-text {
	font-size: var(--t-size);
	font-family: var(--font-2);
	text-align: center;
	margin-top: calc( var(--n-size) / 6 );
	margin-left: calc( 0px - var(--pad) + (100% / 4) / 2 );
	transform: translateX(-50%);
	position: absolute;
	display: flex;
	user-select: none;
}

.svg {
	fill: var(--c-text);
	stroke: var(--c-text);
	height: calc( var(--n-size) / 2 );
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: calc( 0px - var(--pad) * 2 );
	pointer-events: none;
	transition-duration: var(--trans);
}

.nav-button:disabled .svg {
	fill: var(--c-disable);
	stroke: var(--c-disable);
}

.svg-folder {
	fill: var(--c-text);
	stroke: var(--c-text);
	height: calc( var(--t-size) * 1.2 );
	display: block;
	pointer-events: none;
	transition-duration: var(--trans);
	white-space: nowrap;
	float: left;
}

.tab-selected {
	background-color: var(--c-select);
}

.status-full {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: var(--c-status);
	position: absolute;
	z-index: 20;
}

.link {
	cursor: pointer;
	color: var(--c-link);
	text-decoration: underline;
}

.loading-text-contain {
	background-color: rgba(0,0,0,0);
	vertical-align: bottom;
	display: inline-block;
	position: absolute;
	height: calc( 50% - var(--l-rad) * 1.2 );
	top: 0px;
	width: 100%;
	text-align: center;
	user-select: none;
}

.loading-text {
	color: var(--c-textl);
	font-size: calc( var(--l-rad) / 2 );
	display: table-cell;
	vertical-align: bottom;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: auto;
	width: calc( 100% - var(--pad) * 2 );
	bottom: 0;
}

.loader-svg {
	width: var(--l-rad);
	height: var(--l-rad);
	top: calc( 50% - var(--l-rad) / 2 );
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	display: fixed;
}

.loader-button {
	text-align: center;
	color: var(--c-statust);
	background-color: var(--c-statusb);
	font-size: calc( var(--l-rad) / 3 );
	user-select: none;
	padding: 0px;
	height: calc( var(--l-rad) / 1.5 );
	padding-left: var(--pad);
	padding-right: var(--pad);
	border: none;
	width: 200%;
	border-radius: calc( var(--l-rad) / 3 );
	transform: translateX(-25%);
}

.loader-button:not(:disabled):hover {
	background-color: var(--c-statush);
}

.loader-buttons {
	position: absolute;
	top: calc( 50% + var(--l-rad) * 1.2 );
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	color: var(--c-text);
	font-size: calc( var(--l-rad) / 3 );
	user-select: none;
	border-radius: 0%;
	background-color: rgba(0,0,0,0);
}

.loader-close {
	background-color: rgba(0,0,0,0);
	position: absolute;
	width: calc( var(--pad) * 4 );
	height: calc( var(--pad) * 4 );
	left: calc( 100% - var(--pad) * 4 );
	color: var(--c-textl);
	padding: 0px;
}

.loader-close:not(:disabled):hover {
	background-color: rgba(0,0,0,0);
	color: rgba(255,255,255,.5);
}

.loader {
	border: var(--l-size) solid var(--c-dark);
	border-top: var(--l-size) solid var(--c-yes);
	border-radius: 50%;
	margin: calc( 0px - ( var(--l-rad) / 2 ) - var(--l-size) );
	width: var(--l-rad);
	height: var(--l-rad);
	top: 50%;
	left: 50%;
	position: absolute;
	display: fixed;
	animation: spin var(--spin) linear infinite;
}

.distinct-div {
	background-color: var(--c-dark);
	padding: var(--pad);
	width: calc( 100% - var(--pad) * 4 );
	display: block;
	border: none;
	border-radius: var(--corner);
	transition-duration: var(--trans);
}

.level-info-text {
	font-size: calc( var(--t-size) * 1.2 );
	padding: var(--pad);
}

emp-text {
	color: var(--c-sec);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

::-webkit-scrollbar {
	width: calc(var(--pad) * 2);
	height: calc(var(--pad) * 2);
	transition-duration: var(--trans);
}

::-webkit-scrollbar-track {
	background: var(--c-dark);
	transition-duration: var(--trans);
}

::-webkit-scrollbar-thumb {
	background: var(--c-select);
	transition-duration: var(--trans);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--c-hover);
	border-radius: 0px;
	cursor: pointer;
}

.notification {
	width: var(--t-size);
	margin-left: calc( var(--pad) / 2 );
	margin-right: calc( var(--pad) / 2 );
	padding: 0px;
}